{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    html, body, #map-canvas {
      height: 100%; margin: 0; padding: 0;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script>
    var GOOGLE_API_KEY = '{{ google_api_key }}';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
  <script src="{{ STATIC_URL }}TripWeather.js"></script>

  <script>
    TripWeather.drawMap();
  </script>
{% endblock %}

{% block main_content %}
<div id="map-canvas"></div>
{% endblock %}
