{% extends "base.html" %}

{% block styles %}
  <style type="text/css">
    html, body, #container, #sidebar, #map-canvas {
      height: 100%;
    }
  </style>
{% endblock %}

{% block scripts %}
  <script>
    var GOOGLE_API_KEY = '{{ google_api_key }}';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}"></script>
  <script src="{{ STATIC_URL }}TripWeather.js"></script>

  <script>
    TripWeather.drawMap();
  </script>
{% endblock %}

{% block main_content %}
<div class="row" id="container">
  <div class="col-md-4" id="sidebar">
    <form data-bind="submit: buildFlightPlan">
      <fieldset>
        <p class="form-group">
          <label for="departLocation">Depart from</label>
          <input class="form-control" id="departLocation" data-bind="value: departLocation" type="text" required>
          <span class="help-block">Three-letter airport code (i.e., "JFK") or latitude and longitude pair, separated by a comma.</span>
        </p>
        <p class="form-group">
          <label for="arriveLocation">Arrive at</label>
          <input class="form-control" id="arriveLocation" data-bind="value: arriveLocation" type="text" required>
          <span class="help-block">Three-letter airport code (i.e., "JFK") or latitude and longitude pair, separated by a comma.</span>
        </p>
        <p class="form-group">
          <label for="departTime">Depart time</label>
          <input class="form-control" id="departTime" data-bind="value: departTime" type="text" required>
          <span class="help-block">Date and 24-hour time in YYYY-MM-DD HH:MM format</span>
        </p>
        <p class="form-group">
          <label for="plannedSpeed">Planned speed</label>
          <input class="form-control" id="plannedSpeed" data-bind="value: plannedSpeed" type="number" min="1" required>
          <span class="help-block">Average aircraft speed, in miles per hour</span>
        </p>
        <p class="form-group">
          <label for="reportInterval">Weather report interval</label>
          <input class="form-control" id="reportInterval" data-bind="value: reportInterval" type="number" min="1" required>
          <span class="help-block">Number of hours between weather reports along flight path</span>
        </p>
        <button type="submit" class="btn btn-primary" data-bind="disable: isLoading">Plan Flight</button>
        <img src="{{ STATIC_URL }}loading.gif" data-bind="visible: isLoading">
      </fieldset>
    </form>
    <div data-bind="foreach: weatherReports, visible: weatherReports().length > 0">
      <div class="weatherReport">
        Timestamp: <span data-bind="text: timestamp"></span>
        Latitude: <span data-bind="text: latitude"></span>
        Longitude: <span data-bind="text: longitude"></span>
        Cloud cover: <span data-bind="text: cldCvr"></span>
        Precipitation chance: <span data-bind="text: precipProb"></span>
        Precipitation: <span data-bind="text: precip"></span>
        Surface pressure: <span data-bind="text: sfcPres"></span>
        Snowfall: <span data-bind="text: snowfall"></span>
        Snowfall chance: <span data-bind="text: snowfallProb"></span>
        Specific humidity: <span data-bind="text: spcHum"></span>
        Temperature: <span data-bind="text: temp"></span>
        Wind speed: <span data-bind="text: windSpd"></span>
        Wind direction: <span data-bind="text: windDir"></span>
      </div>
    </div>
  </div>
  <div class="col-md-8" id="map-canvas"></div>
</div>
{% endblock %}
